li {
    display: inline;
    margin: 5px 10px 5px 10px;
}

header {
    height: 100px;    
}

.rateListing {
    margin: 0 auto;
    width: 80%;
}

.center-text {
    text-align: center;
}

.rateListing {
    width:500px;
}

.navbuttons {
    padding: 0 0 0 0;
}